@import 'variables';

* { box-sizing: border-box; }
body {
    margin: 0;
    background-color: rgb(56, 43, 50);
}

.container {
    width: 1200px;
    margin: auto;
    padding: 15px;
    background-color: rgb(119, 96, 107);
}

nav {
    font-family: $font-title;
    border-bottom: 1px solid #ccc;
    background-color: rgb(56, 43, 50);
    .container {
        display: flex;
        padding: 0 15px;
        align-items: center;
        justify-content: center;
    }
    #logo {
        list-style: none;
        margin: 0 15px 0 0;
        padding: 0;
        a {
            display: block;
            line-height: 0;
        }
        img {
            height: 100px;
            width: 70px;
        }
    }
    #main-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        > li {
            height: 70px;
            &.current-menu-item {
                a {
                    color:rgb(226, 28, 230);
                }
                a:after {
                    width: 100%;
                    background-color: rgb(143, 107, 160);
                }
            }
            > a {
                height: 100%;
                display: flex;
                padding: 0 20px;
                text-decoration: none;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                color: white;
                position: relative;
                &:after {
                    content: '';
                    transition: all ease 0.3s;
                    position: absolute;
                    width: 0;
                    background-color: rgb(210, 152, 243);
                    height: 5px;
                    bottom: 0;
                }          
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                    &:after {
                        width: 100%;
                    }
                }

            }
        }
    }
}



// @import 'variables';

// *{
//     box-sizing: border-box;
// }

// body{
//     margin:0;
//     background-color: rgb(199, 10, 108);
// }

// .container{
//     width: 1200px;
//     margin: auto;
//     padding: 15px;
//     background-color: rgb(255, 255, 255);
// }

// nav{
//     border-bottom: 1px solid gray;
//     //si on a pas mit les ul et les li c'est parce qu'on a mit 'container' false
//     display: flex;
//     padding: 0 15px;
//     .container{
//         display: flex;
//         padding: 0 15px;
//     }
//     #logo {
//         list-style: none;
//         margin: 0;
//         padding: 0 10px;

//         img{
//             height: 70px;
//             width: 50px;
//         }
//     }
//     #main-menu{
//         list-style: none;
//         padding: 0;
//         margin: 0;
//         display: flex;
//         >li{
//             height: 70px;
//             &.current-menu-item{
//                 border-bottom: 2px solid rgb(243, 216, 172);
//             }
//             >a{
//                 height: 100%;
//                 text-decoration: none; 
//                 display: flex; 
//                 padding: 0 20px;
//                 text-decoration: none;
//                 align-items: center;
//                 justify-content: center;
//                 font-size: 15px;
//                 font-weight: bold;
//                 color: rgb(0, 0, 0);
//                 text-transform: uppercase;
//                 transition: all ease 0.3s;
//                 &:after{
//                     content:'';
//                     transition: all ease 0.3s;
//                     position: absolute;
//                     width: 0;
//                     background-color: rgb(218, 218, 248);
//                     height: 5px;
//                     bottom: 0;
//                 }
//                 &:hover {
//                     background-color: rgba(0, 0, 0, 0.164);
//                     &after{
//                         width: 100%;
//                     }
//                 }
//             }
//         }
//     }
// }
